body{
    font:15pt Verdana;
}
.box{
    width: 450px;
    height: 450px;
    background-color: rgb(253, 255, 148);
    box-shadow: 9px 9px 10px rgba(0, 0, 0, 0.2);
    border-radius: 35px;
    flex-direction: column;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.box-interna-1{
    display: flex;
    align-items: center;
    text-align: center;
    padding-top: 90px;
}

.box-interna-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}


input#button{
    width: 50px;
    height: 50px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    background-color: green;
    font: normal Verdana;
    color: white;
}

input#cxtexto{
    width: 120px;
    height: 30px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 15pt;
    text-align: center;
    border-radius: 5px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
    border-color: rgb(94, 94, 94);
}

div#res{
    margin-top: 50px;
    font-size: 30pt;
    color: rgb(0, 0, 0);
}